<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="AssemblyString" value="UT.EmailV20.dll" />
    <add key="TypeString" value="UT.EmailV20.EmailHelper" />-->
    
    <!--<add key="AssemblyString" value="UT.SMSV21.dll" />
    <add key="TypeString" value="UT.SMSV21.SMSHelper" />-->

    <add key="AssemblyString" value="UT.WechatV22.dll" />
    <add key="TypeString" value="UT.WechatV22.WechatHelper" />
  </appSettings>      
</configuration>